{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css">
{% endblock %}
{% block body_class %}met-sfeer{% endblock %}
{% block content %}
<h1>Verkennen 🗺️</h1>

{% include "public/_groepbalk.html" %}

{% include "public/_filters_kop.html" %}

<div class="ontdek-layout">
  {% include "public/_filters_zij.html" %}

  <div class="ontdek-main">
    <div class="kaart-balkje">
      <button type="button" id="inbuurt" class="btn btn-klein btn-stil">📍 Plekken in mijn buurt</button>
      <a class="btn btn-klein btn-stil" href="{{ url_for('account.toevoegen') }}">➕ Plek toevoegen</a>
      <span class="hint" id="kaart-teller">{{ aantal }} in beeld · tik op een speldje voor info</span>
    </div>
    <div class="kaart-legende">
      <span><i class="leg-bol" style="background:#2E7D46"></i> goed gescoord</span>
      <span><i class="leg-bol" style="background:#F4B233"></i> gratis</span>
      <span><i class="leg-bol" style="background:#5B8DEF"></i> binnen</span>
      <span><i class="leg-bol" style="background:#EE8035"></i> overig</span>
    </div>
<div id="map" role="application" aria-label="Kaart met kinderactiviteiten"
     data-center="{{ center|tojson|forceescape }}"
     data-markers="{{ markers|tojson|forceescape }}"></div>
<script type="application/json" id="map-data">{{ {"center": center, "zoom": zoom, "gezocht": gezocht, "markers": markers}|tojson|safe }}</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{{ url_for('static', filename='js/verkennen.js') }}" defer></script>
  </div>
</div>
{% endblock %}
