{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}
{% block body_class %}met-sfeer{% endblock %}
{% block content %}
<h1>Verkennen</h1>
<p class="hint">Tik op een bolletje voor meer info. Groen = goed gescoord · geel = gratis. Toevallig ergens anders? Sleep de kaart gewoon.</p>
<div id="map" role="application" aria-label="Kaart met kinderactiviteiten"
     data-center="{{ center|tojson|forceescape }}"
     data-markers="{{ markers|tojson|forceescape }}"></div>
<script type="application/json" id="map-data">{{ {"center": center, "markers": markers}|tojson|safe }}</script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/verkennen.js') }}" defer></script>
{% endblock %}
